<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>首页</title>
    <% if (process.env.NODE_ENV !== 'development') { %>
    <link rel="stylesheet" href="<%= assets.index.css %>">
    <% } %>
    <script>
      window.__INIT_STATE__ = <%- preloadState %>
    </script>
  </head>
  <body>
    <div id="root"><%- html %></div>
  </body>

  <% if (process.env.NODE_ENV !== 'development') { %>
  <script><%- assets.manifest.text %></script>
  <script src="<%= assets.vendor.js %>"></script>
  <script src="<%= assets.index.js %>"></script>
  <% } else { %>
  <script src="/bundle/manifest.js"></script>
  <script src="/bundle/vendor.js"></script>
  <script src="/bundle/index.js"></script>
  <% } %>
</html>
